{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'dajie/index.css' %}" />
<title>Dajie Index</title>
<h1>Direction Index</h1>

{% if highest_salary_list %}
    <ul>
    {# for direction in highest_salary_list #}
    {% for direction in object_list %}
        <li><a href="{% url 'dajie:detail' direction.id %}">{{ direction.direction_title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No messages are available.</p>
{% endif %}

<img class="figure" src="{% static 'dajie/images/figure_600.png' %}" alt="help" />

